<ion-header>
  <ion-navbar color="hcolor">
    <ion-title>Profile</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div class="profile-image" (click)="editImage()">
    <img src="{{avatar}}">
  </div>
  <ion-grid>
    <ion-row>
      <ion-col>
        <button ion-button icon-right (click)="editName()" class="btn_transparent">
          <b>{{displayName}}</b>&nbsp;
          <i class="fa fa-pencil" *ngIf="!isEditName"></i>
          <ion-spinner *ngIf="isEditName"></ion-spinner>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="spacer" style="height: 10px;"></div>
  <div>
    <button ion-button round outline color="danger" (click)="logout()">Logout</button>
  </div>
</ion-content>
