<ion-header>
  <ion-navbar color="hcolor">
    <ion-title>Profile</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-spinner class="spinner-center" *ngIf="showLoader"></ion-spinner>
  <div class="profile-image" (click)="editImage()" *ngIf="displayName">
    <img src="{{avatar}}">
  </div>
  <ion-list *ngIf="displayName">
    <ion-item style="margin-top: 30px;color:#03b6b3">
      <ion-icon name='contact' item-start></ion-icon>
      {{displayName}}
      <button ion-button item-end outline (click)="editName()" *ngIf="!isEditName" color="hcolor">
        Edit
      </button>
      <ion-spinner *ngIf="isEditName" class="btn-spinner"></ion-spinner>
    </ion-item>
    <ion-item style="color:#03b6b3">
      <ion-icon name='mail' item-start></ion-icon>
      {{emailId}}
      <button ion-button item-end outline (click)="editEmail()" *ngIf="!isEditEmail" color="hcolor">
        Edit
      </button>
      <ion-spinner *ngIf="isEditEmail" class="btn-spinner"></ion-spinner>
    </ion-item>
    <ion-item>
      <button class="btn-logout" ion-button item-start icon-right full clear (click)="logout()">
        LOGOUT
      <ion-icon name='md-log-out'></ion-icon>
      </button>
    </ion-item>
  </ion-list>
</ion-content>
