page-profile {
  .profile-image{
    img {
      height: 200px;
      width: 200px;
      border-radius:50%;
      border: 4px solid rgba(255,255,255,0.4);
      -webkit-box-shadow: 0px 0px 142px -37px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 0px 142px -37px rgba(0,0,0,0.75);
      box-shadow: 0px 0px 142px -37px rgba(0,0,0,0.75);
    }
  }
  .scroll-content {
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .btn_transparent {
    background-color: transparent;
    color: black;
    font-size: 21px;
    i {
      color: rgba(37, 28, 28, 0.58);
      bottom: 3px;
      position: relative;
      left: 10px;
    }
  }
  .button-ios.activated,
  .button-md.activated {
    background-color: transparent !important;
    box-shadow: none;
  }
  .button-md {
    box-shadow: none;
  }
  .btn-spinner {
    width: 15px;
    height: 15px;
    float: right;
  }
  .btn-logout {
    font-size: 2rem !important;
    font-weight: 500;
    color: #f53d3d;
  }
}
