ion-title {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 90px 1px;
  width: 100%;
  height: 100%;
  text-align: center;
}

.list-header-md, .item-md {
  border-bottom: 0.55px solid rgb(200, 199, 204);
}

.back-button.show-back-button {
  z-index: 9;
}

.spinner-center {
  position: fixed;
  left: 45%;
  top: 55%;
  height: 40px;
  width: 40px;
}

ion-spinner * {
  stroke: #03b6b3;
  fill: #03b6b3;
}

.spinner-md-crescent circle {
  stroke: #03b6b3;
}

.no-comment {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20vh;
  color: dimgray;
  text-align: center;
  ion-icon {
    font-size: 100px;
  }
  button {
  i {
    left: 5px;
    position: relative;
  } 
  }
}

.primary-color {
  color:  $f_color
}