<ion-header>
  <ion-navbar color="hcolor">
    <ion-title>Requests</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-spinner class="spinner-center" *ngIf="showLoader"></ion-spinner>
  <ion-list>
    <ion-item-sliding *ngFor="let item of myRequests">
      <a ion-item detail-push detail-none (click)="doSomething(item)">
        <ion-avatar item-left>
          <img src="{{item.photoURL}}">
        </ion-avatar>
        <h4>{{item.displayName}}</h4>
      </a>
      <ion-item-options side="right">
        <button ion-button color="secondary" (click)="accept(item)">
          <ion-icon name="checkmark"></ion-icon> ADD
        </button>
        <button ion-button color="danger" (click)="ignore(item)">
          <ion-icon name="trash"></ion-icon> NOPE
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-list class="no-comment" *ngIf="showEmptyMsg">
    <ion-icon name="megaphone"></ion-icon>
    <br>NO FRIEND REQUEST
  </ion-list>
</ion-content>
