<ion-header>
  <ion-navbar color="hcolor">
    <ion-title>Chats</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addBuddy()">
        <ion-icon name="person-add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-spinner class="spinner-center" *ngIf="showLoader"></ion-spinner>
  <ion-list>
    <a *ngFor="let item of myFriends" ion-item detail-push detail-none (click)="buddyChat(item)">
      <ion-avatar item-left>
        <img src={{item.photoURL}}>
      </ion-avatar>
      <h3>{{item.displayName}}</h3>
    </a>
  </ion-list>
  <ion-list class="no-comment" *ngIf="showEmptyMsg">
    <ion-icon name="chatbubbles"></ion-icon>
    <br>NO CHATS FOUND
    <br>
    <button ion-button clear item-start icon-right (click)="addBuddy()">
      Add Friend <i class="fa fa-plus" aria-hidden="true"></i>
    </button>
  </ion-list>
</ion-content>